* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.footer {
    background: #111;
    width: 100%;
    min-height: 200px;
    display: block;
    position: relative;
    overflow: hidden;
    /* border: 2px solid dodgerblue; */
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.footer::before {
    content: "";
    background: white;
    width: 30%;
    height: 60px;
    transform: rotate(-6deg);
    top: -39px;
    left: -10px;
    position: absolute;
}

.footer::after {
    content: "";
    background: white;
    width: 100%;
    height: 60px;
    position: absolute;
    transform: rotate(1deg);
    top: -42px;
    right: -30px;
}

.footer h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
}

.linkbox {
    text-align: center;
}

.linkbox .link {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    margin: 30px 10px;
    cursor: pointer;
    background: #04040499;
    text-decoration: none;
}

.footer p {
    color: #ffffff96;
}

.linkbox .link:hover {
    background: dodgerblue;
}

.section {
    width: 100%;
    min-height: 300px;
    background: white;
    position: relative;
    overflow: hidden;
    border: 2px solid indigo;
    padding: 10px;
    text-align: center;
}

.sec-10 {
    padding-top: 100px;
}

.sec-10::before {
    content: "";
    width: 150%;
    height: 100px;
    background: #111;
    position: absolute;
    top: -91px;
    left: -70px;
    transform: rotate(-3deg);
    margin-bottom: 50px;
}

.contact-detail {
    text-align: left;
}

.contact-item {
    margin: 30px 0px;
}

.our-btn {
    border: none;
    background: #1A237E;
    color: white;
    border-radius: 25px;
    font-size: 13px;
    padding: 8px 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .4s;
    z-index: 0;
    border: 1.2px solid #1A237E;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    outline: none;
    /* border: 1.5px solid blue; */
}

.our-btn::after {
    content: "";
    height: 100%;
    width: 0%;
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;
    transition-duration: inherit;
    z-index: 1;
}

.our-btn:hover:after {
    width: 100%;
}

.our-btn:hover {
    color: #1A237E;
}

.sec-9 {
    background: url("../img/sec9bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.sec-8 {
    padding: 100px 0px;
    position: relative;
}

.sec-8::before {
    content: "";
    background: #111;
    ; width: 80%;
    height: 100px;
    transform: rotate(3.5deg);
    bottom: -80px;
    left: -50px;
    position: absolute;
}

.sec-8::after {
    content: "";
    background: #111;
    ; width: 80%;
    height: 100px;
    transform: rotate(-3.5deg);
    bottom: -80px;
    right: -50px;
    position: absolute;
}

.sec-8 .card {
    box-shadow: 0px 0px 10px #dddddd;
    border-radius: 0;
    border: none;
    overflow: hidden;
    padding: 0;  
    border-radius:0 0 50px 0;   
    margin: 10px 0px;
}
.sec-8 button{
    margin-left:20px;
    margin-bottom: 20px;
}

.sec-8 .card:hover {
    box-shadow: 0px 0px 6px #bbbbbb;
}

.sec-8 button {
    width: 150px;
}

.sec-8 .card-title {
    padding-bottom: 5px!important;
    
}

.sec-8 .card-body {
    color:#aaa; 
    font-size:15px; 
    line-height:1.4;
    padding-top: 0px;
}
.sec-8 .card-img{
    transition: all 1s ease-out;
    width: 100%;
}

.sec-8 .card-img:hover{
    transform: scale(1.1);
}
.sec-7 {
    /* position: relative; */
    /* padding: 0px; */
    padding-bottom: 100px;
    z-index: 1;
    background: #f4f4f480;
}
.sec-7::after {
    content: "";
    z-index: 10;
    width: 1px;
    /* margin-top: 30px; */
    height: 1px;
    border: 0px;
    border-right: 30vw solid white;
    border-top: 100px solid transparent;
    /* border-bottom: 100px solid pink; */
    border-left: 70vw solid white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.sec-7 .price-card {
    min-height: 400px;
    background: linear-gradient(to bottom,blue, dodgerblue);
    border-radius: 5px;
    margin: 50px 24px;
    box-shadow: 0px 0px 15px #cdcdcd;
    min-width: 240px;
}
.price-card p:first-child {
    margin-top:25px;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}
.sec-7 span.price {
    font-size: 46px;
    color: white;
    display: inline-block;
    margin: 0px auto;
    /* width: 50px; */
    position: relative;
}
.sec-7 span.price::before {
    content: "$";
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: -12px;
    /* font-weight: bold; */
    font-family: verdana;
}
.sec-7 span.price::after {
    content: "/ Month";
    color: white;
    position: absolute;
    width:100px;
    top: 36px;
    left: 33px;
    font-size: 15px;
    font-family: verdana;
}
.sec-7 ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding-inline-start: 0px;
}
.sec-7 ul li {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    margin:10px 0px;
}

.sec-6{
    padding: 0px;
    min-height: 500px;
    background: url("../img/sec6bg.jpg");
    background-attachment: fixed;
}
.sec-6::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* border-left: 30vw solid red; */
    border-top: 4vw solid white;
    border-right: 33vw solid transparent;
}


.sec-6::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    /* border-left: 10vw solid red; */
    /* border-top: 10vw solid blue; */
    border-right: 66vw solid white;
    border-bottom: 5vw solid transparent;
}
.sec-6 .card {
    width: 300px;
    min-height: 260px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    float: left;
    margin: 10px 20px;
}

.sec-6 .heading {
    display: block;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    background: url("../img/qm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 90px;
}
.sec-4 {
    background: #f2f2f2;
}

.sec-4::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-left: 68vw solid white;
    border-top: 5.5vw solid transparent;
}

.sec-4::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-right: 32vw solid white;
    border-top: 4vw solid #ffa50000;
}
.sec-4 .upper-shape::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 68vw solid transparent;
    border-top: 5.5vw solid white;
}

.sec-4 .upper-shape::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 32vw solid transparent;
    border-top: 4vw solid white;
}

.sec-4 .content .item {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px;
}

.sec-4 .content .item .icon {
    height: 100px;
    width: 100px;
    background:transparent;
    border:1px solid lightgray;
    margin-right: 20px;
    float: left;
    border-radius: 50%;
    shape-outside: circle();
    position: relative;
    /* overflow: hidden; */
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.sec-4 .content .item .icon .ani {
    position: absolute;
    width: 0%;
    height: 0%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right, #1A237E, #2576FD);
    transition: all .2s;
    border-radius: 50%;
    z-index: 5;
}
.sec-4 .content .item .icon:hover .ani {
    width: 100%;
    height: 100%;
}
.sec-4 .content .item .icon:hover p {
    color:white!important;
}

.sec-4 .content .item .cont {
    /* float: left; */
    height: 80px;
}


.sec-3 .isotope-navbar {
    width: 100%;
    margin: 50px 0px;
}
.sec-3 .isotope-nav-container{
    width: 364px;
    height: 45px;
    padding: 7px 0px 10px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    border-radius: 50px;
}

.sec-3 .isotope-nav-container .isotope-nav-item {
    display: inline-block;
    /* width: 59px; */
    /* height: 25px; */
    border-radius: 30px;
    /* line-height: 25px; */
    padding: 5px 15px;
    margin-right: 11px;
    text-align: center;
    background: linear-gradient(to right, #ffffff, #eeeeee);
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 1s;
}
.sec-3 .isotope-nav-container .isotope-nav-item:hover {
    background: linear-gradient(to right, #eeeeee, #ffffff);
}

.isotope-nav-item-active {
    background: linear-gradient(to right, #131f9f, #2576fdc7)!important;
    color: white!important;
}

.sec-3 .sec-3-product-card {
    /* max-width: 350px; */
    min-height: 300px;
    background-size: 100% 100%!important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #dddddd;
    margin: 10px;
    overflow: hidden;
}

.sec-3 .sec-3-product-card-overlay {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.75);
    opacity: 0;
    position: relative;
    transition: all .4s;
}

.sec-3 .sec-3-product-card:hover .sec-3-product-card-overlay {
    opacity: 1;
}

.sec-3 .our-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: center;
    line-height: 46px;
    padding: 0px;
}